<div class="container main-container">

    <h1>Demos  <small> Angular </small> </h1>

    <hr>

    <app-ng-style></app-ng-style>

    <app-css></app-css>

    <p>Hola Mundo, desde app.component.html</p>

    <app-classes></app-classes>

    <hr> 
    <h1>Directiva personalizada</h1>

    <!-- Esta propiedad, "appHighlighted" la mandamos desde este componente padre (app.component.ts) y la recibimos en el componente hijo (highlighted.directive.ts) con un Input -->
    <p [appHighlighted]=" 'green' ">Este texto es de la directiva personalizada</p>   

</div>